@media (max-width: 430px) {
     *{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    font-size: 9px;
 }
 #navbar{
    height: 60px;
    background-color: #000000;
   display: flex;
   color: rgb(255, 255, 255);
   align-items: flex-start;
   justify-content: center;
 }
 #nav-logo{
   height: 50px;
   width: 100px;
 }
 #logo{
   background-image: url(Cars-wars.png);
   height: 50px;
   width: 100px;
   background-size: cover;
 }
 .border{
   border: 2px solid transparent;
 }
 .border:hover{
   border: 1.5px solid white;
   
 }
 /*nav bar p styling*/
 #add-first{
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 5px;
   
 }
 #add-sceond{
   color: rgb(255, 255, 255);
   font-size: 1rem;
   margin-left: 3px;

 }
 #adress-icon{
   
      display: flex;
      align-items: center;
 }
 #nav-search{
   display: flex;
   align-items: center;
   background-color: #cccccc;
   width: 220px;
   height: 40px;
   border-radius: 3px;
   justify-content: space-evenly;
 }
 #nav-search:hover{
   border: 2px solid  rgb(231, 170, 28);
 }
 #search-select{
   background-color: #f3f3f3;
   width: 50px;
   height: 40px;
   text-align: center;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   border: none;
 }
 #search-input{
   width: 100%;
   height: 38px;
   font-size: 1rem;
   border: none;
 }
 #search-icon{
   width: 45px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: rgb(231, 170, 28);
  color: black;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
 }
 span{
   font-size: 0.7rem;
 }
 #nav-sceond{
   font-size: 0.85rem;
   font-weight: 700px;
 }
 #nav-cart {
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-weight: bold;
   font-size: 0.85rem;
 }
 #nav-cart i {
   font-size: 33px;

 }
 #pannel{
   display: flex;
   align-items: center;
    height: 50px;
   background-color: #1b2a2a;
   color: #ffffff;
 }
#pannle-all{
   display: flex;
   width: 60px;
   height: 40px;
 /*  background-color: aqua;*/
   justify-content: center;
   align-items: center;
   font-weight: bold;
   gap: 5px;
}
#pannel-opt{
 /*  background-color: aquamarine;*/
   width: 70%;
   display: flex;
   justify-content: left;
   gap: 20px;
   

}
#pannel-opt a{
   text-decoration:none;
   font-size: 1.2rem;
   color: #ffffff;
}
 #pannel-shop a {
   text-decoration:none;
   font-size: 1.2rem;
   color: #ffffff;
   margin-right: 0;
 }
 #section1{
 
   background-image: url(car.png);
   background-size: cover;
   height: 1000px;
   margin: auto;
   display: flex;
   align-items: flex-end;
   justify-content: center;
     -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
 }
 #section1-msg{
      font-size: 1rem;
   position: relative;
   width: 80%;
   margin-bottom: 25px;
   font-weight: bold;   
 }
 #section1-msg:hover{
    transform: scale(1.2);
    border: 2px solid black;   
 }
 #section1-msg p{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #000000;
   background-color: gray;
   height: 40px;
 
   
 }
 
   
 
 #shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 20px;
  align-items: center;
 background:#ffffff;
 height: 4000px;
 flex-direction: row;


 
 }
.box{
  
/*  width: 100px;*/
  height: 280px;
 /* border: 2px solid black;*/
  width: 80%;
  background-color:gray;
   padding: 20px;
   padding-top: 30px;
   padding-bottom: 30px;
}
.box p {
  text-decoration: none;
  color: #fffeff;
  font-weight: bold;
  font-size: small;
  
}
.box:hover{
  transform: scale(1.1);
  font-weight: bolder;
  font-style: italic;
  
}
#box1-i {
  height: 250px;
  background-image: url(bmw.avif);
  background-size: cover;
 
 
}
#box2-i {
  height: 250px;
  background-image: url(ferrari.avif);
  background-size: cover;
 
 
}
#box3-i {
  height: 250px;
  background-image: url(bugatti.avif);
  background-size: cover;
 
 
}
#box4-i {
  height: 250px;
  background-image: url(maclaren.avif);
  background-size: cover;
 
 
}
#box5-i {
  height: 250px;
  background-image: url(pagani.avif);
  background-size: cover;
 
 
}
#box6-i {
  height: 250px;
  background-image: url(rolls.avif);
  background-size: cover;
 
 
}
#box7-i {
  height: 250px;
  background-image: url(lamborghini.avif);
  background-size: cover;
 
 
}
#box8-i{
   height: 250px;
  background-image: url(porche3.avif);
  background-size: cover;
}

#right{
  height: 60px;
  background-color: #ffffff;
  font-size: larger;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  color: #183153;
  
}
#contact{
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #183153;
  color: #ffffff;
 
 
}
#contact a{
  font-size: 2em;
  color: #ffffff;
  
}



}
  
